html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 200%;
}

* {
    box-sizing: border-box;
    /*
    padding: 0;
    margin: 0;
    */
}

.navbar, .navbar-main {
    background-color: #313131;
}

.navbar-main {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 15%;
    z-index: 1;
}

.navbar-main a {
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    height: 35px;
    color: #d3d2d1;
    font-size: 0.7rem;

    /* align anchors vertically 
    display: flex;
    flex-direction: row;
    align-items: center; */
}

.navbar a {
    /*display: block;*/
    float: left;
    display: flex;
    align-items: center;
}

.navbar-right {
    float: right;
}

.cart-a {
    background-color: #419690;
}

.navbar-selection-main {
    position: absolute;
    top: 40px;
    right: 0;
    background-color: transparent;
    color: #313131;
    width: 100%;
    /*display: flex;
    align-items: center; */
    height: 100px;
    padding: 0 5%;
}

.navbar-selection-main a {
    color: #313131;
    padding: 30px 20px;
    font-size: 0.75rem;
}

.navbar-selection-main .navbar-right {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.navbar a {
    text-decoration: none;
}

.container {
    position: relative;
    /*top: 35px; */
}

.home-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem !important;
    position: relative;
    top: -5px;
}

.home-logo span {
    font-weight: 700;
}

.navbar {
    /*float: left;*/
}

.top-content {
    background-color: #f8f8f8;
    top: 0;
}

.middle-content {
    margin: 0 5%;
}

hr {
    border: none;
    background-color: #eeeeee;
    height: 1px;
    width: 96%;
}

.navbar-selection-middle a {
    color: #313131;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 0.75rem !important;
    padding: 30px;
}

.navbar-selection-middle {
    background-color: transparent;
    display: flex;
}

.main-img {
    max-width: 100%;
}

/* Gallery Design */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, auto));
    grid-gap: 0;
    justify-items: center;
}

.gallery .item3 {
    /*grid-column: 2 / -1; */
}

.gallery img {
    max-width: 300px;
}

/* Mobile Design */
.burger-menu {
    cursor: pointer;
    display: none;
    margin: auto 0;
    background-color: red;
}

.burger-menu div {
    width: 35px;
    height: 3px;
    background-color: #313131;
    margin: 6px 0;
}

.burger-menu a:first-child {
    color: #313131;
}

.burger-menu ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burger-menu li {
    color: #313131;
}

.burger-menu a {
    color: #313131; 
}

.mobile-menu {
    display: none;
    position: absolute;
    /*
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    padding: 0;
    margin: 0;
    */
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #d3d2d1;
    z-index: 1;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-nav-top {
    margin: 0;
    padding: 0;
    display: flex;
}


/* v2 mobile */
.mobile-topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
}

.mobile-topnav .mobile-menu-list {
    display: none;
}

.mobile-topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobile-topnav a:hover {
    background-color: red;
    color: grey;
}

/* ka nx */
.mobile-nav  a {
    text-decoration: none;
    color: #1E1E23;
    opacity:1;
    font-family: 'work sans', sans serif;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }
  .mobile-nav a:hover {
    opacity:0.5;
  }

  .mobile-nav ul {
    padding: 0;
    list-style-type: none;
  }
  
  .mobile-nav {
    background-color: #1E1E23;
    height: 65px;
    display: none;
  }

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    /*left: 25px; */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    margin-left: 20px;
    top: -10px;
  }
  
  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
    margin-left: 25px;
  }
  
  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu
  {
    position: absolute;
    width: 95%;
    height: calc(100vh + 25px);
    /*margin: -50px 0 0 -50px;*/
    margin: -50px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    background-color: #F5F6FA;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  
  #menu li
  {
    padding: 10px 0;
    transition-delay: 2s;
  }
  
  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

@media all and (max-width: 800px) {
    .navbar {
        display: none;
    }

    .burger-menu {
        /* display: block; */
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery img {
        max-width: 100%;
    }

    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 1;
    }
}