html,
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 200%;
}

* {
    box-sizing: border-box;
    /*
    padding: 0;
    margin: 0;
    */
}

.navbar,
.navbar-main {
    background-color: #313131;
}

.navbar-main {
    overflow: hidden;
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 0 15%;
    z-index: 2;
}

.navbar-main a {
    text-align: center;
    text-decoration: none;
    padding: 0 10px;
    height: 35px;
    color: #d3d2d1;
    font-size: 0.7rem;

    /* align anchors vertically 
    display: flex;
    flex-direction: row;
    align-items: center; */
}

.navbar a {
    /*display: block;*/
    float: left;
    display: flex;
    align-items: center;
}

.navbar-right {
    float: right;
}

.cart-a {
    background-color: #00c8c8;
    color: white !important;
}

.navbar-selection-main {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: #313131;
    width: 100%;
    /*display: flex;
    align-items: center; */
    height: 100px;
    padding: 0 5%;
}

/* tags: arrow down thing*/
.navbar-selection-main .navbar-right {
    display: flex;
}

.navbar-selection-main a {
    color: #313131;
    padding: 30px 20px;
    font-size: 0.75rem;
    display: inline-block;
    /*vertical-align: top; */
}

.navbar-selection-main a svg {
    display: block;
    margin-top: 5px;
}

.navbar-selection-main .navbar-right {
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.navbar a {
    text-decoration: none;
}

.container {
    position: relative;
    top: 35px;
}

.home-logo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1rem !important;
    position: relative;
    top: -5px;
}

.home-logo span,
.mobile-nav span {
    font-weight: 700;
}

.navbar {
    /*float: left;*/
}

.top-content {
    background-color: #f8f8f8;
    top: 0;
    position: relative;
}

.middle-content {
    margin: 0 5%;
}

hr {
    border: none;
    background-color: #eeeeee;
    height: 1px;
    width: 96%;
}

.navbar-selection-middle a {
    color: #313131;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 0.75rem !important;
    padding: 30px;
}

.navbar-selection-middle {
    background-color: transparent;
    display: flex;
}

.main-img {
    max-width: 50%;
    position: relative;
    left: 100px;
}

#large-ave {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #36383F;
    /*font-size: 12rem; */
    font-size: 20vw;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 75px;
    margin: 0;
    padding: 0;
    user-select: none;
}

/* Gallery Design */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, auto));
    grid-gap: 0;
    justify-items: center;
}

.gallery .item3 {
    /*grid-column: 2 / -1; */
}

.gallery img {
    /*max-width: 300px;*/
}

/* Mobile Design */
.burger-menu {
    cursor: pointer;
    display: none;
    margin: auto 0;
    background-color: red;
}

.burger-menu div {
    width: 35px;
    height: 3px;
    background-color: #313131;
    margin: 6px 0;
}

.burger-menu a:first-child {
    color: #313131;
}

.burger-menu ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.burger-menu li {
    color: #313131;
}

.burger-menu a {
    color: #313131;
}

.mobile-menu {
    display: none;
    position: absolute;
    /*
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    padding: 0;
    margin: 0;
    */
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #d3d2d1;
    z-index: 1;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-nav-top {
    margin: 0;
    padding: 0;
    display: flex;
}


/* v2 mobile */
.mobile-topnav {
    overflow: hidden;
    background-color: white;
    position: relative;
}

.mobile-topnav .mobile-menu-list {
    display: none;
}

.mobile-topnav a {
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.mobile-topnav a:hover {
    background-color: red;
    color: grey;
}

/* WORKING MOBILE DESIGN */
.mobile-nav a {
    text-decoration: none;
    color: #1E1E23;
    opacity: 1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
}

.mobile-nav a:hover {
    opacity: 0.5;
}

.mobile-nav ul {
    padding: 0;
    list-style-type: none;
}

.mobile-nav {
    background-color: #313131;
    height: 65px;
    display: none;
}

/* Mobile home logo button in navbar */
.mobile-nav #mobile-logo {
    font-size: 1.20rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    /*left: 50%;
      transform: translateX(-90%) translateX(-290px);*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    padding: 5px;
    z-index: 1;
}

/* Mobile view cart button on navbar */
.mobile-nav .mobile-cart-a {
    color: white;
    position: absolute;
    right: 0;
    margin-right: 25px;
    font-size: 1.8rem;
    top: 50%;
    transform: translateY(-50%) translateY(2px);
    z-index: 1;
}


#menuToggle {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    /*left: 25px; */
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    margin-left: 20px;
    top: -10px;
}

/* Burger buns and patty */
#menuToggle span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ffffff;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    margin-left: 25px;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}

/* Make burger explode (clicked burger) */
#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    background: #36383F;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

/* Mobile navbar menu; hidden in the left */
#menu {
    position: absolute;
    width: 100%;
    height: calc(100vh + 25px);
    /*margin: -50px 0 0 -50px;*/
    margin: -50px 0 0 0;
    padding: 50px;
    padding-top: 125px;
    background-color: #f8f8f8;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
    padding: 10px 0;
    transition-delay: 2s;
}

#menuToggle input:checked~ul {
    transform: none;
}

/* END OF MOBILE DESIGN */

/* HOVER DROPDOWN MENU ON TOP NAVBAR ON DESKTOP VIEW */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    /* flex on hover */
    position: absolute;
    background-color: #f8f8f8;
    /* min-width: 100px; */
    top: 70px;
    left: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
    padding: 20px;
    gap: 50px;
}

.dropdown-content a {
    color: #727272;
    font-family: 'Montserrat', sans-serif;
    padding: 8px 16px;
    font-weight: 500;
    text-decoration: none;
    display: block;
}

.dropdown-content a.menu-link-title {
    font-family: 'Lato', sans-serif;
    color: #36383F;
    font-weight: 800;
    margin-bottom: 10px;
}

.dropdown-content a:not(.menu-link-title):hover {
    color: black;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.navbar-right .dropdown:last-of-type .dropdown-content {
    transform: translateX(-38%);
}

/* Prevent LOOK BOOK dropdown menu going off screen */
@media all and (max-width: 1700px) {
    .navbar-right .dropdown:last-of-type .dropdown-content {
        transform: translateX(-42%);
    }
}

@media all and (max-width: 1500px) {
    .navbar-right .dropdown:last-of-type .dropdown-content {
        transform: translateX(-48%);
    }
}

@media all and (max-width: 1200px) {
    .navbar-right .dropdown:last-of-type .dropdown-content {
        transform: translateX(-52%);
    }
}

@media all and (max-width: 1000px) {
    .navbar-right .dropdown:last-of-type .dropdown-content {
        transform: translateX(-58%);
    }
}

/* END */

/* Prevent LOCAL STORES dropdown menu going off screen */
@media all and (max-width: 2100px) {
    .navbar-right .dropdown:nth-last-child(2) .dropdown-content {
        transform: translateX(-7%);
    }
}

@media all and (max-width: 1000px) {
    .navbar-right .dropdown:nth-last-child(2) .dropdown-content {
        transform: translateX(-15%);
    }
}

/* END */

/* Gallery style */
.gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    width: 300px;
    height: 350px;
}

.gallery .gallery1 .item1, .gallery .gallery1 .item2 {
}

.gallery .gallery1 .item1 img, .gallery .gallery1 .item2 img {
}

.gallery .gallery1 .item3 img {
}

.gallery .gallery2 {
    width: 50%;
}
.gallery .gallery1 {
/*    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "img1 img2"
                        "img3 img3";
    grid-column-gap: 0px;
    grid-row-gap: 0px;*/
    width: 50%;
}

.gallery .gallery1 .item1 {
/*    grid-area: 1 / 1 / 2 / 2;*/
/*    grid-area: img1;*/
}

.gallery .gallery1 .item2 {
/*    grid-area: 1 / 2 / 2 / 3;*/
/*    grid-area: img2;*/
}

.gallery .gallery1 .item3 {
/*    grid-area: 2 / 1 / 3 / 3;*/
/*    grid-area: img3;*/
}

.gallery .gallery1 .item3 img {
/*    grid-area: 2 / 1 / 3 / 3;*/
}

/* END */

/* Bottom content */
.bottom-content .bottom-content-options {
    display: flex;
    justify-content: space-between;
}

.bottom-content .bottom-content-options .item {
    background-color: #f8f8f8;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 30px;
    height: 300px;
    width: 32%;
}

.bottom-content .bottom-content-options .item h2 {
    font-size: 2rem;
}

.bottom-content .bottom-content-options .item div {
    text-align: right;
    width: 50%;
    float: right;
}

.bottom-content .bottom-content-options .item img {
    width: 140px;
    float: left;
    position: absolute;
    bottom: 0;
}

.bottom-content .bottom-content-options .item a {
    background-color: #727272;
    padding: 10px 25px;
    font-size: 0.75rem;
    text-decoration: none;
    color: white;
}

.bottom-content .bottom-content-options .item a:hover {
    background-color: #00c8c8;
}

@media all and (max-width: 1250px) {
    .bottom-content .bottom-content-options .item {
        width: 100%;
        height: 400px;
        margin: 20px 0;
        padding-right: 100px;
    }

    .bottom-content .bottom-content-options .item img {
        position: relative;
        left: 100px;
        height: 100%;
        bottom: 0;
        width: auto;
        /* transform: translateY(15px); */
    }

    .bottom-content .bottom-content-options {
        display: block;
    }
}

@media all and (max-width: 800px) {
    .bottom-content .bottom-content-options .item {
        padding-right: 20px;
    }

    .bottom-content .bottom-content-options .item img {
        left: 10px;
        width: 125px;
        height: auto;
        bottom: -122px;
    }
}

/* END */

@media all and (max-width: 800px) {
    .navbar {
        display: none;
    }

    .burger-menu {
        /* display: block; */
    }

    .gallery {
        grid-template-columns: 1fr;
    }

    .gallery img {
        max-width: 100%;
    }

    .mobile-nav {
        display: block;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    /* make .container below mobile navbar */
    .container {
        top: 65px;
    }

    .main-img {
        max-width: 100%;
        left: 0;
    }
}